@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(227, 232, 238);
}

.hidden{
    display: none !important;
}

.playGameDiv{
    background-color: rgb(35, 35, 35);
    height: 100vh;
    width: 100%;
    animation: bgColor 3.3s infinite ease-in-out;
}
@keyframes bgColor {
    0% {
        background: linear-gradient(325deg, rgba(0,50,102,1) 0%, rgb(20, 0, 62) 51%, rgb(30, 0, 255) 100%);
    }
    100% {
        background: linear-gradient(325deg, rgb(1, 0, 37) 0%, rgb(4, 0, 41) 51%, rgb(0, 38, 79) 100%);
    }
}
.scrulteDiv{
    height: 100vh;
}
.scrulteDiv table{
    max-width: 400px;
}
.yl{
    color: rgb(198, 182, 0);
}
.gn{
    color: rgb(11, 228, 0);
}
.rd{
    color: rgb(255, 0, 0);
}
.cy{
    color: rgb(39, 39, 39);
}
.bl{
    color: rgb(0, 149, 255);
}
.infoIcon{
    font-size: 16px;
    color: rgb(255, 149, 149);
}
.resultBG{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.41);
    filter: blur(.2);
}
.resultDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: rgb(0, 4, 47);
    border-radius: 5px;
    color: white;
}