
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

a{
    text-decoration: none;
}

ul li{
    list-style: none;
}

body {
    background-color: #e4e8ea !important;
    position: relative;
}

.hidden{
    display: none;
}

.generateBody > div{
    background-color: #fff;
    width: 400px;
    border-radius: 10px;
}

.mainBody {
    /* width: 900px;
    height: auto; */
}
.inputName{
    outline: none;
    stroke: none;
    border: none;
    background-color: rgb(223, 230, 237) !important;
    padding: 5px;
    border-radius: 5px;
    padding-left: 15px;
    min-width: 260px;
}
.generate {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(56, 82, 162);
    color: white;
}


.bgStyle {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}
.bgStyle div {
    width: 40px;
    height: 40px;
    background-color: #e4e8ea;
    border: 1px solid #efefef;
    transition: .3s;
}

.bgStyle div:hover {
    background-color: rgb(10, 0, 30);
}